todo-new-component .todo-new-form {
	margin: 20px;
}

todo-new-component .todo-new-form label {
	width: 60px;
	display: inline-block;
}


todo-new-component .todo-new-form .submit {
	display: block;
	margin: 10px 0;
}