todo-list-component .todo-filters {
	margin: 10px 0;
}

todo-list-component .todo-list-header .created {
	width: 100px;
    display: inline-block;
}

todo-list-component .todo-list-header .title {
	width: 200px;
    display: inline-block;
}