article-list-component .article-filters {
	margin: 10px 0;
}

article-list-component .article-list-header .created {
	width: 100px;
	display: inline-block;
}

article-list-component .article-list-header .title {
	width: 200px;
	display: inline-block;
}

article-list-component .article-list-header .active {
	border: 1px solid black;
}

article-list-component .article-list-header .active.acs:after {
	content: "A-Z";
}

article-list-component .article-list-header .active.desc:after {
	content: "Z-A";
}