<ul class="nav nav-pills">
	<li class="nav-item">
		<a
			href
			class="nav-link" 
			ui-sref="article.all" 
			ui-sref-active="active"
		>
			All
		</a>
	</li>
	<li class="nav-item">
		<a
			href
			class="nav-link" 
			ui-sref="article.today" 
			ui-sref-active="active"
		>
			Toaday
		</a>
	</li>
	<li class="nav-item">
		<a
			href 
			class="nav-link"
			ui-sref="article.lastWeek" 
			ui-sref-active="active"
		>
			Last Week
		</a>
	</li>
	<li class="nav-item">
		<a
			href 
			class="nav-link"
			ui-sref="article.lastMonth" 
			ui-sref-active="active"
		>
			Last Month
		</a>
	</li>
</ul>

<div ng-if="$ctrl.list.length">
	<div class="row">
		<div
			ng-click="$ctrl.sort({field: 'created', direction: -1})"
			class="col-3 sortable"
		>
			<span ng-class="$ctrl.getClasses('created')">
				Created
			</span>
		</div>
		<div
			ng-click="$ctrl.sort({field: 'title', direction: 1})"
			class="col-5 sortable"
		>
			<span ng-class="$ctrl.getClasses('title')">
				Title
			</span>
		</div>
	</div>

	<article-item-component
		ng-repeat="article in $ctrl.list"
		class="row"
		item="article"
		completed="article.completed"
		on-delete="$ctrl.deleteArticle($event)"
		on-update="$ctrl.updateArticle($event)"
	></article-item-component>
</div>