<form
	novalidate
	name="articleNewForm"
	class="article-new-form"
	ng-submit="$ctrl.submitForm(articleNewForm.$valid)"
>
	<div>
		<label>Title</label>
		<input
			name="title"
			class="title"
			ng-model="$ctrl.newArticle.title"
			required
			ng-minlength="5"
		/>
		<span
			ng-show="$ctrl.submitted && articleNewForm.title.$error.required"
			class="validation-error"
		>
			Title is required.
		</span>
		<span
			ng-show="$ctrl.submitted && articleNewForm.title.$error.minlength"
			class="validation-error"
		>
			Title is too short (min 5 symbols).
		</span>
	</div>
	<div>
		<label>Content</label>
		<textarea
			name="content"
			class="content"
			ng-model="$ctrl.newArticle.content"
			required
			ng-minlength="20"
		></textarea>
		<span
			ng-show="$ctrl.submitted && articleNewForm.content.$error.required"
			class="validation-error"
		>
			Сontent is required.
		</span>
		<span
			ng-show="$ctrl.submitted && articleNewForm.content.$error.minlength"
			class="validation-error"
		>
			Content is too short (min 20 symbols).
		</span>
	</div>
	<input
		type="submit"
		value="Add"
		class="submit"
	/>
</form>