<form
	novalidate
	name="articleEditForm"
	class="article-edit-form"
	ng-submit="$ctrl.submitForm(articleEditForm.$valid)"
>
	<div>
		<label>Title</label>
		<input
			name="title"
			class="title"
			ng-model="$ctrl.article.title"
			required
			ng-minlength="5"
		/>
		<span 
			ng-show="$ctrl.submitted && articleEditForm.title.$error.required"
			class="validation-error"
		>
			Title is required.
		</span>
		<span 
			ng-show="$ctrl.submitted && articleEditForm.title.$error.minlength"
			class="validation-error"
		>
			Title is too short (min 5 symbols).
		</span>
	</div>
	<div>
		<div>
			<label>Content</label>
			<textarea
				name="content"
				class="content"
				ng-model="$ctrl.article.content"
				required
				ng-minlength="20"
			></textarea>
			<span
				ng-show="$ctrl.submitted && articleNewForm.content.$error.required"
				class="validation-error"
			>
				Сontent is required.
			</span>
			<span
				ng-show="$ctrl.submitted && articleNewForm.content.$error.minlength"
				class="validation-error"
			>
				Content is too short (min 20 symbols).
			</span>
		</div>
	</div>
	<input
		type="submit"
		value="Edit"
		class="submit"
	/>
</form>